@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 110%;
  background-image: url(../img/leaves.png);
}

.centrar{
    text-align: center;
	padding-top: 80px;
	padding-bottom: 200px;
}

.zone{
  text-align: center;
}

.f-imagen1{
  background-image: url(../img/bosque2_optimized.jpg);
  height: 450px;
  margin-bottom: 40px;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.footer {
  background: rgb(106, 226, 76);
  border-top: 1px solid #c9c9c9;
  padding: 25px 0;
}

.footer blockquote {
  font-family: 'Amaranth', sans-serif;
  font-weight: 600;
  font-size: 100%;
  text-align: center;
  position: center;
  margin: 20px 0 20px 0;
}


.texto-titulo{
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-size: 150%;
}

.titulos{
  font-family: 'Amaranth', sans-serif;
  font-weight: 600;
  font-size: 100%;
}


.text{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 500;
  font-size: 120%;
}

.parrafos{
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-size: 120%;
}

.opaci{
  background: rgba(0,0,0,0.60);
  font-family: 'Amaranth', sans-serif;
  font-weight: 700;
  font-size: 200%;
  padding-left: 15px;
  padding-top: 70px;
}

.boton{
  font-weight: 700;
  padding: 10px;
}

.ancho-completo{
  background-image: url(../img/water2.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
	padding-top: 80px;
  padding-bottom: 80px;
}

.ancho-completo-2{
  background-image: url(../img/garbage-3745004_1920.jpg);
  background-size: cover;
  background-position: center center;
  color: #fff;
  padding-bottom: 40px;
}


